#about-us {
  padding: 50px 0;

  .section-title {
    padding-bottom: 10px;
  }

  .about-us-contents {
    .img {
      padding-top: 4px;
    }

    .text {
      p {
        color: rgb(37, 37, 37);
        text-align: justify;
        margin-bottom: 5px;
      }
    }
  }
}
