#login,
#register,
#shopping-cart {
  .section-title {
    h1 {
      font-weight: 500;
      font-size: 24px;
      font-family: Hind, sans-serif;
    }
  }
}

#login {
  .new-customer-wrapper {
    height: 100%;

    p {
      padding-bottom: 16px;
    }
  }
}

#login,
#register {
  padding: 50px 0 60px;

  .account-inputs {
    border: 1px solid #e9e7e7;
    padding: 32px 39px 40px;
    h4 {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 18px;
      text-transform: uppercase;
    }
    label {
      font-size: 14px;
      color: #191919;
      font-weight: 500;
      padding-bottom: 4px;
      letter-spacing: 0.02em;
    }

    .bottom-contents {
      padding-top: 10px;
      height: 100%;

      input[type="submit"] {
        line-height: 21px;
      }

      .additional-link {
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
}

#register {
  .account-inputs {
    padding: 35px 39px 47px;
    .bottom-contents {
      padding-right: 222px;
    }
  }
}

#shopping-cart {
  padding: 50px 0 60px;

  .section-title {
    padding-bottom: 30px;
    h1 {
      font-size: 28px;
    }
  }

  .wrapper {
    padding-right: 15px;

    .cart-table {
      table {
        tr {
          border-top: 0.5px solid #e9e7e7;
          border-bottom: 0.5px solid #e9e7e7;
          td {
            padding: 20px 0;

            button {
              border: none;
              background-color: transparent;
              outline: none;
            }

            .book-title {
              a {
                color: #000000;
                font-size: 14px;
                font-weight: 400;
                transition: 0.3s ease;
                &:hover {
                  color: rgb(40, 120, 253);
                  transition: 0.3s ease;
                  text-decoration: none;
                }
              }
            }

            h6,
            p {
              margin-bottom: 0;
            }

            .price {
              span {
                font-family: "Times New Roman", Times, serif;
                font-size: 16px;
                margin-right: -3px;
              }
            }

            .total-price {
              justify-content: flex-end;
              span {
                margin-right: 2px;
                padding-bottom: 3px;
              }
            }
          }
        }
      }
    }

    .bottom-elements {
      padding-top: 30px;
      justify-content: space-between;

      a {
        font-size: 14px;
        color: #2879fe;
        text-decoration: none;
        font-weight: 500;
        transition: 0.2s linear;
        &:hover {
          transition: 0.2s linear;
          color: #000000;
        }

        i {
          &::before {
            font-size: 16px;
          }
        }

        p {
          padding-bottom: 3px;
        }
      }
    }
  }

  .cart-totals-wrapper {
    border: 1px solid #e9e7e7;
    padding: 35px 39px 40px;

    .cart-totals-title {
      padding-bottom: 20px;
    }

    .cart-totals-title {
      h3 {
        font-size: 18px;
        font-weight: 700;
      }
    }

    .price {
      h5 {
        padding-top: 4px;
      }
      h4 {
        padding-top: 11px;
      }

      h4,
      h5,
      p {
        margin-bottom: 0;
      }
      h5 {
        font-size: 14px;
      }
      h4 {
        font-size: 16px;
        font-weight: 700;
      }
      span {
        font-family: "Times New Roman", Times, serif;
      }
    }

    .grand-total {
      padding-bottom: 25px;
      p {
        color: rgb(40, 121, 254);
        font-size: 24px;
      }
    }

    .checkout-btn {
      button {
        width: 100%;
        padding: 18px 26px;
        line-height: 8px;
        color: white;
        background-color: rgb(40, 120, 253);
        &:hover {
          border: 2px solid rgb(16, 96, 224);
          background-color: rgb(16, 96, 224);
        }
      }
    }
  }
}
