.breadcrumb {
  background-color: rgb(247, 248, 250);
  padding: 6px 0 !important;
  margin: 0 !important;

  ul {
    font-size: 12px;
    font-weight: 300;
    li {
      &:first-of-type {
        padding-right: 9px;
      }
      a {
        text-decoration: none;
        color: black;
        transition: 0.2s ease;
        &:hover {
          color: rgb(13, 110, 253);
          transition: 0.2s ease;
        }
      }
      span {
        position: relative;
        padding-left: 11px;
        &::before {
          content: "/";
          position: absolute;
          left: 0;
          top: 1px;
        }
      }
    }
  }
}
