#categories {
  padding: 60px 0 30px;

  .swiper-container {
    padding: 0 0 40px;
  }

  .new-releases-wrapper {
    padding-top: 15px;
    
    .book-item {
      .label {
        span {
          background-color: rgb(3,169,245);
        }
      }
    }
  }
}
