.footer {
  // background-color: #ffffff;
  background-color: #2878FD;

  .brand {
    h4 {
      color: white;
    }
  }

  .footer-left,
  .footer-right {
    height: 60px;
    align-items: center;
  }

  .footer-left {
    .copywriter {
      padding-left: 15px;
      p {
        margin-bottom: 0;
        color: white;
        font-weight: 300;
        a {
          color: white;
        }
      }
    }
  }

  .footer-right {
    justify-content: flex-end;
  }
}
