header {
  height: 50px;

  .header {
    background: #fff;
    width: 100%;
    z-index: 999;
    position: fixed;
    transition: 0.3s ease;

    .wrapper {
      justify-content: space-between;
      align-items: center;
      height: 50px;
      // padding: 0 calc(100% - 77rem);

      .nav-menu {
        padding: 2px 0 0 35px;
        ul {
          padding: 0;
          margin: 0;
          width: 250px;
          justify-content: space-between;
          li {
            a {
              text-decoration: none;
              color: black;
              font-weight: 400;
              font-size: 14px;
              text-transform: uppercase;
              transition: 0.3s ease;
              &:hover {
                color: rgb(98, 162, 208);
                transition: 0.3s ease;
              }
            }
          }
        }
      }

      .btns {
        position: relative;
        ul {
          padding: 17px 0 0;
          width: 120px;
          justify-content: space-between;
          li {
            position: relative;
            button {
              color: #212529;
              transition: 0.3s ease;
              text-decoration: none;
              &:hover {
                color: rgb(98, 162, 208);
                transition: 0.3s ease;
              }
              span {
                font-size: 18px;
                font-weight: 700 !important;
              }
              .filter-btn {
                font-size: 20px;
              }
            }
            sup {
              height: 16px;
              width: 16px;
              border-radius: 50%;
              background-color: rgb(98, 162, 208);
              position: absolute;
              top: -3px;
              left: 17px;
              line-height: 19px;
              text-align: center;
              color: white;
            }

            .dropdownMenu,
            .dropdownCart {
              background-color: #ffff;
              width: 250px;
              box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.3);
              padding: 30px;
              position: absolute;
              top: 40px;
              right: 0px;
              transform: translateY(20px);
              transition: 0.4s ease;
              opacity: 0;
              visibility: hidden;

              ul {
                width: 100%;
                padding: 0;
                li {
                  line-height: 26px;

                  button,
                  a {
                    font-size: 14px;
                    transition: 0.3s ease;
                    &:hover {
                      transition: 0.3s ease;
                      color: #2879fe;
                    }
                  }

                  a {
                    color: #000000;
                    text-decoration: none;
                    font-weight: 300;

                    span {
                      font-size: 16px;
                      svg {
                        margin: 0 5px 2px 0;
                      }
                    }
                  }
                }
              }
            }

            .dropdownCart {
              padding: 30px 15px 30px 20px;
              width: 285px;
              right: -69px;
              table {
                width: 100%;
                tbody {
                  width: 100%;
                  max-height: 260px;
                  display: inline-block;
                  overflow-y: auto;
                  td {
                    padding: 12px 0;
                    button {
                      padding-right: 10px;
                      span {
                        font-size: 16px;
                      }
                    }
                    .img-wrapper {
                      height: 65px;
                      width: 45px;
                      img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                      }
                    }
                    ul {
                      padding: 0 10px 0 13px;
                      .count-and-price {
                        .multiplication{
                          margin: 0 5px;
                        }

                        p {
                          margin: 0;
                        }
                      }
                    }
                  }
                }
              }

              .total-area {
                border-top: 1px solid #e9e7e7;
                margin-top: 30px;
                padding-top: 14px;
                .top-content {
                  h6 {
                    font-size: 15px;
                  }
                  p {
                    line-height: 18px;
                    font-weight: 500;
                  }
                }
                .checkout-btn {
                  button {
                    color: white;
                    font-size: 13px;
                    letter-spacing: 0.5px;
                    padding: 18px 26px 16px;
                    background-color: rgb(40, 120, 253);
                    &:hover {
                      border: 2px solid rgb(16, 96, 224);
                      background-color: rgb(16, 96, 224);
                    }
                  }
                }
                .view-cart-btn {
                  padding-top: 13px;
                  a {
                    font-size: 14px;
                    transition: 0.3s ease;
                    text-decoration: none;
                    &:hover {
                      color: #000000;
                      transition: 0.3s ease;
                    }
                  }
                }
              }

              .empty-cart {
                svg {
                  font-size: 38px;
                  color: #cdcdcd;
                }
                .alert-text {
                  padding-top: 10px;
                  p {
                    margin: 0;
                  }
                }
              }
            }
          }

          .showDropdown {
            .dropdownMenu,
            .dropdownCart {
              transform: translateY(0px);
              opacity: 1;
              visibility: visible !important;
            }
          }
        }
      }
    }
  }
}

.header-shadow {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}