#shopping-cart {
  padding: 50px 0 60px;

  .section-title {
    padding-bottom: 30px;
    h1 {
      font-weight: 500;
      font-family: Hind, sans-serif;
      font-size: 28px;
    }
  }

  .wrapper {
    padding-right: 15px;

    .cart-table {
      table {
        tr {
          border-top: 0.5px solid #e9e7e7;
          border-bottom: 0.5px solid #e9e7e7;
          td {
            padding: 25px 0;

            button {
              border: none;
              background-color: transparent;
              outline: none;

              .delete-btn {
                font-size: 18px;
                transition: 0.3s ease;
                &:hover {
                  color: rgb(40, 120, 253);
                  transition: 0.3s ease;
                }
              }
            }

            .img-wrapper {
              height: 100px;
              img {
                height: 100%;
              }
            }

            .book-title {
              a {
                color: #000000;
                font-size: 14px;
                font-weight: 400;
                transition: 0.3s ease;
                text-decoration: none;
                &:hover {
                  color: rgb(40, 120, 253);
                  transition: 0.3s ease;
                }
              }
            }

            h6,
            p {
              margin-bottom: 0;
            }

            .price {
              padding-bottom: 3px;
              span {
                font-family: "Times New Roman", Times, serif;
                font-size: 16px;
                margin-right: 2px;
              }
            }

            .total-price {
              justify-content: flex-end;
              span {
                margin-right: 2px;
                padding-bottom: 3px;
              }
            }

            .price,
            .total-price {
              font-weight: 500;
              span {
                font-weight: 600;
              }
            }
          }
        }
      }
    }

    .bottom-elements {
      padding-top: 30px;
      justify-content: space-between;

      a,
      button {
        font-size: 14px;
        color: #2879fe;
        text-decoration: none;
        font-weight: 500;
        transition: 0.2s linear;
        &:hover {
          transition: 0.2s linear;
          color: #000000;
        }

        span {
          font-size: 20px;
        }

        p {
          margin: 3px 0 0 5px;
        }
      }

      button {
        border: 0;
        background-color: transparent;
        outline: none;
      }
    }
  }

  .cart-totals-wrapper {
    border: 1px solid #e9e7e7;
    padding: 35px 39px 40px;

    .cart-totals-title {
      padding-bottom: 20px;
    }

    .cart-totals-title {
      h3 {
        font-size: 18px;
        font-weight: 700;
      }
    }

    .price {
      h5 {
        padding-top: 4px;
      }
      h4 {
        padding-top: 11px;
      }

      h4,
      h5,
      p {
        margin-bottom: 0;
      }
      h5 {
        font-size: 14px;
      }
      h4 {
        font-size: 16px;
        font-weight: 700;
      }
      span {
        font-family: "Times New Roman", Times, serif;
      }
    }

    .grand-total {
      padding-bottom: 25px;
      p {
        color: rgb(40, 121, 254);
        font-size: 24px;
      }
    }

    .checkout-btn{
      a{
        display: inline-block;
        text-decoration: none;
      }
    }
  }
}
