#sign-up {
  padding: 50px 0;
  background-color: rgb(247, 248, 250);

  .section-title {
    p {
      margin: 10px 0 7px;
    }
  }

  .sign-up-form {
    input[type="email"] {
      border: 1px solid white;
      background-color: white;
      border-radius: 6px 0 0 6px;
      height: 40px;
      font-size: 14px;
      font-weight: 300;
      padding: 11px 12px 10px 15px;
      transition: 0.3s ease;
      &:focus {
        outline: 0;
        transition: 0.3s ease;
        border: 1px solid rgb(98, 162, 210);
      }
    }

    input[type="submit"] {
      width: 20%;
      border-radius: 0 6px 6px 0;
      background-color: rgb(98, 162, 210);
      color: white;
      border: 0;
      font-size: 14px;
      transition: 0.3s ease;
      &:hover {
        background-color: black;
        transition: 0.3s ease;
      }
    }
  }
}
