#wishlist {
  padding: 50px 0 40px;

  .section-title {
    padding-bottom: 30px;
    h1 {
      font-weight: 500;
      font-family: Hind, sans-serif;
      font-size: 28px;
    }
  }

  .book-item {
    margin-bottom: 30px;

    &:hover {
      .bottom-content {
        transform: translateY(160px);
      }
    }

    .remove-from-wishlist-btn {
      display: block !important;
      position: absolute;
      top: 3px;
      right: 10px;

      button {
        svg {
          font-size: 19px;
          color: red;
          transition: 0.3s ease;
          &:hover {
            color: #2878fd;
            transition: 0.3s ease;
          }
        }
      }
    }

    .bottom-content {
      transform: translateY(228px);
      .btns {
        display: none !important;
      }
    }
  }
}


// ======= Responsive Design ======= //
@media (min-width: 768px) and (max-width: 997.98px) {
  #wishlist {
    .book-item {
      height: 418px !important;
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #wishlist {
    .book-item {
      height: 496px !important;
    }
  }
}

@media (max-width: 575.98px) {
  #wishlist {
    .book-item {
      .bottom-content {
        padding: 0 5px 30px !important;
      }
    }
  }
}
