#compare {
  padding: 50px 0 60px;

  .section-title {
    @extend %section-title2;
    padding-bottom: 0;
  }

  .swiper-container {
    padding-top: 50px;

    .swiper-button-prev,
    .swiper-button-next {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background-color: $secondary-color;
      top: 23px;
      transition: 0.3s ease;
      &::after {
        font-size: 14px;
        color: #000000;
      }

      &:hover {
        background-color: $primary-color;
        transition: 0.3s ease;
        &::after {
          color: #ffff;
        }
      }
    }

    .swiper-button-prev {
      left: auto !important;
      right: 66px !important;
    }

    .compare-book-item {
      border: 1px solid #e9e7e7;
      border-right: 1px solid #e9e7e7 !important;
      position: relative;

      p,
      h6 {
        margin-bottom: 0;
      }

      .top-part,
      .title,
      .price,
      .description,
      .rating,
      .genre,
      .bottom-part {
        padding: 0 20px;
      }

      .top-part {
        min-height: 200px;
        padding-top: 20px;

        .book-img {
          height: 158px;
          img {
            height: 100%;
          }
        }

        .remove-btn {
          position: absolute;
          right: 20px;
          top: 10px;
          button {
            @extend %remove-btn;
            font-size: 20px;
          }
        }
      }

      .middle-part {
        .description,
        .rating,
        .genre,
        .title,
        .price {
          display: flex;
          align-items: center;
        }

        .genre,
        .rating,
        .title,
        .price {
          min-height: 55px;
        }

        .description,
        .rating,
        .title {
          background-color: $secondary-color;
          border-top: 1px solid #e9e7e7;
          border-bottom: 1px solid #e9e7e7;
        }

        .title {
          h6 {
            font-size: 14px;
            a {
              color: #000000;
              text-decoration: none;
              transition: 0.3s ease;
              &:hover {
                transition: 0.3s ease;
                color: rgb(40, 120, 253);
              }
            }
          }
        }

        .price {
          p {
            font-weight: 500;
            span {
              font-family: "Times New Roman", Times, serif;
            }
          }
        }

        .description {
          min-height: 120px;

          p{
            @extend %paragraph;
          }
        }

        .genre,
        .rating {
          p,
          span {
            font-size: 14px;
          }
        }

        .rating {
          span {
            color: #ffb503;
          }
        }
      }

      .bottom-part {
        min-height: 70px;

        button {
          @extend %btn-style2;
          padding: 2px 26px;
          span {
            font-size: 20px;
            svg {
              margin: 0 4px 4px 0;
            }
          }
        }

        .disabledBtn {
          background-color: rgb(196, 211, 234) !important;
          border: 2px solid rgb(196, 211, 234) !important;
          cursor: default !important;
        }
      }
    }
  }

  .empty-alert-wrapper {
    @extend %empty-alert;
  }
}