.contact-content {
  #map-area {
    padding: 50px 0;
  }

  #contact-items {
    padding-bottom: 50px;
    .contact-item {
      .icon {
        padding-bottom: 20px;
        span {
          font-size: 48px;
          color: $primary-color;
        }
      }
      .content {
        p {
          @extend %paragraph;
          padding: 0 90px;
        }
      }
    }
  }

  #send-message {
    padding-bottom: 55px;

    .input-wrapper{
      @extend %input;
    }

    .text-area {
      height: 153px;
      border: 1px solid $secondary-color;
      background-color: $secondary-color;
      border-radius: 6px;
      font-size: 14px;
      font-weight: 300;
      padding: 11px 12px 10px 15px;
      transition: 0.3s ease;
      &:focus {
        outline: 0;
        transition: 0.3s ease;
        border: 1px solid $primary-color;
      }
    }

    .send-msg-btn-wrapper {
      padding-top: 16px;
      .send-msg-btn {
        @extend %btn-style;
        background-color: $primary-color;
        color: #fff;
      }
    }
  }
}

// ======= Responsive Design ======= //
@media (max-width: 997.98px) {
  .contact-content {
    .contact-item {
      .content {
        p {
          padding: 0 !important;
        }
      }
    }
  }
}