#entry {
  padding: 50px 0 12px;
  background-color: rgb(98, 162, 208);

  .swiper-container {
    padding-bottom: 45px;

    .swiper-button-prev,
    .swiper-button-next {
      &::after {
        font-size: 22px;
        color: white;
        transition: 0.3s ease;
      }
      &:hover {
        &::after {
          transition: 0.3s ease;
          color: black;
        }
      }
    }

    .swiper-button-prev {
      left: 10px;
    }
    .swiper-button-next {
      right: 10px;
    }

    .swiper-pagination-bullet {
      @extend %swiper-bullet;
      background-color: white;
      opacity: 0.8;
    }
    .swiper-pagination-bullet-active {
      background-color: black;
    }
  }

  .slide-content {
    .left-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: white;
      h3 {
        font-size: 40px;
      }
      h1 {
        font-size: 70px;
        line-height: 70px;
      }
      p {
        font-weight: 200;
      }
      .link {
        padding-top: 25px;
        a {
          font-size: 14px;
          padding: 14px 40px;
          background-color: black;
          color: white;
          text-decoration: none;
          text-transform: uppercase;
          transition: 0.3s ease;
          &:hover {
            transition: 0.3s ease;
            background-color: white;
            color: black;
          }
        }
      }
    }

    .right-content {
      justify-content: flex-end;
    }
  }
}

#categories {
  padding: 60px 0 45px;

  .section-title {
    @extend %section-title;
  }

  .swiper-container {
    padding: 0 0 45px;

    .swiper-pagination {
      bottom: 10px;

      .swiper-pagination-bullet {
        @extend %swiper-bullet;
      }
    }
  }

  .new-releases-wrapper {
    padding-top: 30px;
  }
}

// ======= Responsive Design ======= //
@media (min-width: 768px) and (max-width: 997.98px) {
  #entry {
    padding: 50px 0 35px;

    .slide-content {
      .left-content {
        padding-right: 40px;

        h1,
        h3 {
          margin: 0;
        }

        h3 {
          font-size: 32px;
        }

        h1 {
          font-size: 50px;
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  #entry {
    padding: 50px 0 25px;

    .swiper-container {
      padding-bottom: 45px;

      .swiper-button-prev,
      .swiper-button-next {
        display: none;
      }
    }

    .slide-content {
      display: flex;

      .first {
        order: 1 !important;
        .right-content {
          height: 756px;
          justify-content: center;
        }
      }

      .second {
        order: 2 !important;
        .left-content {
          padding: 20px 0;

          h3,
          h1 {
            margin: 0 !important;
          }

          h3 {
            font-size: 26px;
          }

          h1 {
            font-size: 42px;
          }

          .link {
            a {
              padding: 9px 30px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  #entry {
    .slide-content {
      .right-content {
        height: auto !important;
        width: 100%;
        justify-content: center;
        img {
          height: 100%;
          width: 100%;
        }
      }

      .left-content {
        h3 {
          font-size: 18px !important;
        }

        h1 {
          font-size: 30px !important;
          line-height: 46px !important;
        }

        p {
          font-size: 12px !important;
          margin: 0;
        }

        .link {
          a {
            padding: 6px 20px !important;
            font-size: 13px !important;
          }
        }
      }
    }
  }

  #categories {
    .swiper-pagination {
      bottom: 10px !important;
    }
  }
}

@media (max-width: 385px) {
  #entry {
    .swiper-container {
      padding-bottom: 18px !important;
    }

    .slide-content {
      .left-content {
        padding: 20px 0 40px !important;
      }
    }
  }
}