#wishlist {
  padding: 50px 0 40px;

  .section-title {
    @extend %section-title2;
    padding-bottom: 30px;
  }

  .book-item {
    margin-bottom: 30px;

    &:hover {
      .bottom-content {
        transform: translateY(160px);
      }
    }

    .remove-from-wishlist-btn {
      display: block !important;
      position: absolute;
      top: 3px;
      right: 10px;

      button {
        @extend %remove-btn;
        svg {
          font-size: 19px;
        }
      }
    }

    .bottom-content {
      transform: translateY(228px);
      .btns {
        display: none !important;
      }
    }
  }

  .empty-alert-wrapper {
    @extend %empty-alert;
  }
}

// ======= Responsive Design ======= //
@media (min-width: 768px) and (max-width: 997.98px) {
  #wishlist {
    .book-item {
      height: 418px !important;
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #wishlist {
    .book-item {
      height: 496px !important;
    }
  }
}

@media (max-width: 575.98px) {
  #wishlist {
    .book-item {
      .bottom-content {
        padding: 0 5px 30px !important;
      }
    }
  }
}